@import url("css/header.css");
@import url("css/aboutus.css");
@import url("css/hiring.css");
@import url("css/collaborators.css");
@import url("css/newsletter.css");

:root {
    --main-font: "Inter";
    --background-color: #FFFFFF;
    --gray: #667085;
    --logo-color: #3A404E;
    --sign-up-red: #8E2424;
    --dark-gray: #101828;
    --background-gray: #F9FAFB;
}

body {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    background-color: var(--background-color);
}
